In [3]:
import pandas as pd
import numpy as np

In [5]:
dest_df = pd.read_csv('./Destinations.csv')
dest_df

,Destinations,country,region,Climate,Budget,Activity,Demographics,Duration,Cuisine,History,Natural Wonder,Accommodation,Language
0,Tokyo,Japan,East Asia,Temperate,High,Cultural,Solo,Long,Asian,Modern,Mountains,Luxury,Japanese
1,Ottawa,Canada,North America,Cold,Medium,Adventure,Family-friendly,Moderate,European,Modern,Forests,Mid-range,English
2,Mexico City,Mexico,North America,Temperate,Low,Cultural,Senior,Short,Latin American,Ancient,Mountains,Budget,Spanish
3,Rome,Italy,Southern Europe,Temperate,High,Cultural,Solo,Moderate,European,Ancient,Beaches,Luxury,Italian
4,Brasilia,Brazil,South America,Tropical,Low,Adventure,Family-friendly,Long,Latin American,Modern,Beaches,Budget,Portuguese
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Luxor,Egypt,North Africa,Arid,Low,Cultural,Solo,Short,Middle Eastern,Ancient,Rivers,Budget,Arabic
98,Aswan,Egypt,North Africa,Arid,Low,Cultural,Solo,Short,Middle Eastern,Ancient,Rivers,Budget,Arabic
99,Christchurch,New Zealand,Oceania,Temperate,Medium,Adventure,Family-friendly,Moderate,Western,Modern,Cityscape,Mid-range,English
100,Queenstown,New Zealand,Oceania,Temperate,High,Adventure,Solo,Short,Western,Modern,Mountains,Luxury,English
101,Rotorua,New Zealand,Oceania,Temperate,Medium,Cultural,Family-friendly,Short,Western,Modern,Geothermal,Mid-range,English

In [6]:
Adjacency_df = pd.read_csv('Adjacency_matrix.csv')
(Adjacency_df)

,Destinations,Tokyo,Ottawa,Mexico City,Rome,Brasilia,Canberra,New Delhi,Pretoria,Madrid,...,Bursa,Munich,Hamburg,Frankfurt,Alexandria,Luxor,Aswan,Christchurch,Queenstown,Rotorua
0,Tokyo,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Ottawa,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
2,Mexico City,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Rome,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Brasilia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Luxor,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,Aswan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
99,Christchurch,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100,Queenstown,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
101,Rotorua,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [37]:
from scipy.sparse import csr_matrix
arr = np.array(Adjacency_df.iloc[:,1:])
sparse_matrix = csr_matrix(arr)
print(sparse_matrix)
# for _,row in Adjacency_df.iterrows():
#     if row[1] == 1:
#         print(row[0] , '\t',)
# arr

  (0, 40)	1
  (0, 64)	1
  (0, 86)	1
  (1, 24)	1
  (1, 36)	1
  (1, 51)	1
  (1, 92)	1
  (1, 93)	1
  (2, 58)	1
  (2, 61)	1
  (2, 65)	1
  (2, 72)	1
  (2, 74)	1
  (2, 86)	1
  (3, 20)	1
  (3, 37)	1
  (3, 38)	1
  (3, 63)	1
  (3, 69)	1
  (4, 13)	1
  (4, 15)	1
  (4, 25)	1
  (4, 90)	1
  (5, 14)	1
  (5, 28)	1
  :	:
  (98, 29)	1
  (98, 52)	1
  (98, 90)	1
  (98, 101)	1
  (99, 17)	1
  (99, 35)	1
  (99, 36)	1
  (99, 37)	1
  (99, 38)	1
  (99, 80)	1
  (99, 81)	1
  (99, 82)	1
  (100, 14)	1
  (100, 23)	1
  (100, 32)	1
  (100, 58)	1
  (100, 73)	1
  (101, 49)	1
  (101, 61)	1
  (101, 64)	1
  (101, 68)	1
  (101, 78)	1
  (101, 79)	1
  (101, 86)	1
  (101, 98)	1